[submodule "nvim"]
	path = nvim
	url = https://github.com/ddxtanx/nvim_setup/
[submodule "polybar-scripts"]
	path = polybar-scripts
	url = https://github.com/polybar/polybar-scripts
[submodule "sddm-astronaut-theme"]
	path = sddm-astronaut-theme
	url = https://github.com/Keyitdev/sddm-astronaut-theme
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme/
