[submodule "nvim"]
	path = nvim
	url = https://github.com/ddxtanx/nvim_setup
	branch = main
[submodule "polybar-scripts"]
	path = polybar-scripts
	url = https://github.com/polybar/polybar-scripts
	brach = master
