*
!alacritty
!alacritty/*
!nvim/
!nvim/*
!polybar/
!polybar/*
!i3/
!i3/*
!polybar-scripts/
!polybar-scripts/*
!waybar
!waybar/*
!sway
!sway/*
!sddm-astronaut-theme
!.gitignore
!sioyek
!sioyek/*
!alacritty
!alacritty/*
!zellij
!zellij/*
!swaybg
!swaybg/*
!swww
!swww/*
!mpvpaper
!mpvpaper/*
!generate_wallpaper.sh
!wallpaper_display_command.sh
sway/machine_specific_config
sway/setup_windows
!bottom
!spotifyd
